.ui-simple-panel{
	position: absolute;
}
.ui-simple-panel-scroll{
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.ui-simple-panel-handle{
	position: absolute;
	width: 50px;
	height: 50px;
}